body{
background-color:white;
color:black;
font-size:20px;
font-family:Cursive;
text-align:center;
}
body{width:99%;}
h1{
font-size:18px;
color:black;
font-style: gras; 
}
h5{
	border:solid;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #1ceee4;
    background-color: transparent;
    text-decoration: underline;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position:sticky;
  top: 0; 
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  color: #F9BB56;
}
.main {
  margin-top: 30px;
}
.topnav-right {
  float: right;
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

input:invalid {
    border: 2px dashed red;
}

input:valid {
    border: 2px dashed green;
}

.submit {
    border: none;
    background-color: #333;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

li a {
    display: block;
}




.footer #button {
    width: 35px;
    height: 35px;
    border: #333 12px solid;
    border-radius: 35px;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

    .footer #button:hover {
        width: 35px;
        height: 35px;
        border: #3A3A3A 12px solid;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        position: relative;
    }

.footer {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 2em;
    overflow: hidden;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 999;
}

    .footer:hover {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        height: 15em;
    }

    .footer #container {
        margin-top: 5px;
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        background: #333;
        color:white;
    }

    .footer #cont {
        position: relative;
        top: -45px;
        right: 190px;
        width: 150px;
        height: auto;
        margin: 0 auto;
    }

.footer_center {
    width: 500px;
    float: left;
    text-align: center;
}

.footer h3 {
    font-family: 'Helvetica';
    font-size: 30px;
    font-weight: 100;
    margin-top: 70px;
    margin-left: 40px;
}
.testtest {
	text-align: left;
}



